::-webkit-scrollbar
{
  width: 0.25em;
  height: 0.25em;
}

::-webkit-scrollbar-button
{
  width: calc(0.25em + 1px);
  height: calc(0.25em + 1px);

  background-color: rgba(127, 127, 127, 0.25);
}

::-webkit-scrollbar-button:vertical
{
  height: calc(0.25em + 2px);
}

::-webkit-scrollbar-button:vertical:increment
{
  border-top: 1px solid transparent;
}

::-webkit-scrollbar-button:vertical:decrement
{
  border-bottom: 1px solid transparent;
}

::-webkit-scrollbar-button:horizontal
{
  width: calc(0.25em + 2px);
}

::-webkit-scrollbar-button:horizontal:increment
{
  border-left: 1px solid transparent;
}

::-webkit-scrollbar-button:horizontal:decrement
{
  border-right: 1px solid transparent;
}

::-webkit-scrollbar-button:hover
{
  background-color: rgba(127, 127, 127, 0.6);
}

::-webkit-scrollbar-button:active
{
  background-color: rgba(127, 127, 127, 0.8);
}

::-webkit-scrollbar-thumb
{
  background-color: rgba(127, 127, 127, 0.4);
}

::-webkit-scrollbar-thumb:hover
{
  background-color: rgba(127, 127, 127, 0.6);
}

::-webkit-scrollbar-thumb:active
{
  background-color: rgba(127, 127, 127, 0.9);
}

::-webkit-scrollbar-track
{
  background-color: rgba(64, 64, 64, 0.25);
}

::-webkit-scrollbar-track:hover
{
  background-color: rgba(64, 64, 64, 0.4);
}

::-webkit-scrollbar-track:active
{
  background-color: rgba(64, 64, 64, 0.4);
}

::-webkit-scrollbar-corner
{
  background-color: rgba(64, 64, 64, 0.4);
}

::selection
{
  background: black;
  color: white;
  border-radius: .25em;
  text-shadow: 0 0 1px black;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.language-typescript,
.language-javascript,
.language-jsx,
.language-tsx,
.hljs,
.hljs.language-typescript,
.hljs.language-jsx {
  color: #f0f0f0;
}

.hljs-meta,
.hljs-keyword,
.hljs-literal,
.token.keyword,
.token.boolean {
  color: #86ccf6;
}

.hljs-comment,
.token.comment {
  color: #808090;
  font-style: italic;
}

.hljs-string,
.token.string,
.token.number {
  color: #d0d0d0;
}

.hljs-title,
.hljs-built_in,
.token.builtin,
.token.class-name {
  color: #5ef9c0;
}

.token.function {
  color: #ffffa0;
}

.token.tag > .tag {
  color: #86ccf6;
}

.token.tag > .punctuation {
  color: #86ccf6;
}

.token.tag > .attr-name {
  color: #ffffa0;
}

.token.plain-text {
  color: #ffffff;
}

